<div class='row notFoundPage'>
  <div class='col-3'></div>
  <div class='col-4 w-auto'>
      <div class='oops'>Oops!</div>
      <div class='notFoundText'>We can't seem to find that.</div>
      <div class='notFoundText'> Try searching for it</div>
      <div class='mt-4'>Error 404</div>
  </div>
  <div class='col-3 ms-3 mt-5'><img src="../../../assets/img/NotFound.webp" alt="not found" class='w-75'/></div>

</div>
<div class="buttons d-flex justify-content-center m-5">
  <button class="btn btn-danger mx-5" (click)="back()">Back</button>
  <button class="btn btn-danger "  (click)=" home()">Home</button>
</div>

