<nav class="d-flex px-5">
    <a class="nav-link text-dark" routerLink="/locations">ِAll Locations</a>
    <a class="nav-link text-dark" routerLink="/locations/add">Generate Location</a>
</nav>
<div class=" d-flex justify-content-center ">
    <div class="input-group mx-5 my-2">
        <span class="input-group-text olx_color2" id="basic-addon1" (click)="showHideInputSearch()">
            <i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="search" class="form-control" placeholder="Type category here" aria-label="search"
            aria-describedby="basic-addon1" [(ngModel)]="ListOfFiltterdLocations" *ngIf="showInput">
    </div>
</div>
<section class="content">
    <div class="card mx-5">
        <div class="card-header">
            <h3 class="card-title">Locations</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" routerLink="/locations/add">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 2%">#</th>
                        <th style="width: 20%">Location Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let location of filterdLocations , let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            {{location.title}}
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-info btn-sm mx-2" (click)="edit(location._id)">
                                <i class="fas fa-pencil-alt"> </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" (click)="delete(location._id)">
                                <i class="fas fa-trash"> </i>
                                Delete
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</section>