.olx_color3{
  background-color:#e00000;
  color: #fff;
 }
 .olx_color2{
  color:#e00000;
}
.title{
  width: 10%;
  height: .1rem !important;
  overflow: hidden !important;
  // overflow-y: hidden !important;
  // overflow-x: hidden !important;

}
